@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}
:root{
    --primary-color : #047aed;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

img{
    width: 100%;
}

.navbar .flex{
    justify-content: space-between;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;

}
.navbar a:hover{
    border-bottom: 2px #fff solid;
}
.navbar{
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}
/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase::after{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);

    
}
.showcase h1 {
    font-size: 40px;   
}

.showcase-text{
    margin-top: 15%;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    grid-template-columns: 55% 45%;
    gap: 30px;
    overflow: visible;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
}

.showcase-form .form-control{
    margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"]{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
}
.showcase-form input:focus{
    outline: none;
}

.stats{
    padding-top: 100px;
}

.grid-3{
    grid-template-columns: repeat(3, 1fr) !important;
}

.text-center{
    text-align: center;
}

.my-1{
    margin: 1rem 0;
}


.stats-heading{
    max-width: 500px;
    margin: auto;
    font-weight: 500;
}
.stats .grid h3{
    font-weight: 500;
    font-size: 30px;
}
.stats .grid p{
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
}